<!-- Footer -->
<footer class="content-footer">
    <div class="footer-content">
        <p>&copy; {{ "now"|date("Y") }} RetroApp. All rights reserved.</p>
        <p>Built with Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }} and <em>❤️</em></p>
    </div>
</footer>
